DJANGO_DEBUG=
SECRET_KEY=
ALLOWED_HOSTS=fbomatic
DJANGO_ADMINS=

STATIC_ROOT=
STATIC_URL=assets/

VEREINSFLIEGER_APP_KEY=
DATABASE_URL=mysql://fbomatic:@localhost:3306/fbomatic

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=25
EMAIL_USE_SSL=1
EMAIL_USE_TLS=

NOTIFICATIONS_EMAIL_FROM=no-reply@localhost
NOTIFICATIONS_EMAIL_TO=fbo@localhost
